/* Fullscreen tree background */
.login-bg {
    background-image: url('/tree.svg');
    background-size: 500px;     /* shrinks image */
    background-repeat: no-repeat;
    background-position: right;
    background-color: #f0f4f7;     /* fallback color */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  /* Popup-style form box */
  .login-popup {
    background: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    z-index: 10;
  }
  
  /* Logo */
  .logo {
    display: block;
    margin-bottom: 10px;
    max-width: 150px;
  }
  .logo:hover{
    outline: none;
    border: none;
    box-shadow: none;
  }
  
  /* Inputs */
  .input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* Submit Button */
  .sign-in {
    color: #ffffff;
  background-color: #7ED321;
  font-size: 16px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  width: 120px;
  height: 50px;
  }
  
  .password-input-wrapper {
    position: relative;
  }
  
  .eye-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Text Links */
  .rw {
    display: flex;
    margin-top: 30px;
  }
  .rw p{
    margin-top: 18px;
    margin-left: 170px;
    color: #5B6D93;
  }
  .aa {
    margin: none;
    color: #5B6D93;
    text-decoration: none;
  }
  